[Unit]
Description=CSYE Health API
ConditionPathExists=/opt/csye6225/webapp
After=cloud-init.target
 
 
[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
ExecStart=/usr/bin/node /opt/csye6225/webapp/app2.js
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
SysLogIdentifier=csye6225
 
[Install]
WantedBy=cloud-init.target
